@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

body {
    
    text-align: center;
    background: rgb(180,180,180);
background: linear-gradient(90deg, rgba(180,180,180,1) 0%, rgba(228,228,227,1) 53%, rgba(180,180,180,1) 100%);
}

.main-title {
    font-family: 'Vina Sans', cursive;
    
}